/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main */

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
}

.container ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.container ul li {
  width: 20%;
  text-align: center;
  margin: 1.25rem 0;
}

